

{% extends "base_generic.html" %}


{% block content %}
<section id="home" class="type-one">
<div class="section-page blank">
    	<!-- Section Heading -->
    	<!-- <h1>WORKS DETAIL</h1> -->
        <!-- Section Heading End -->

        <!-- Work Gallery -->
        <div class="work-gallery type-one masonry-list row">
        	<!-- Grid Sizer -->
        	<div class="grid-sizer col-md-4"></div>
            <!-- Grid Sizer End -->

            <!-- Work Header -->
        	<div class="item col-md-4">
                <div class="work-header type-one">
                	<nav class="work-nav offset-all-top language">
                    	<img src="{% load static %}{% static 'img/ES.png' %}" class="langSelect" data-lang="ES" style="width:23px">
                    </nav>
                    <h2 class="text-border">LIVING</h2>
                        <div class="content">
                                        <p>On the first floor you enter the beautiful open loft style kitchen and dining room living space. The American style kitchen is constructed in solid oak with black neolith surface counter tops. Fitted with brand new integrated appliances: large range, oven, microwave, fridge / freezer, dishwasher and noiseless hidden ceiling extractor fan. The central island makes for a sociable cooking experience with friends and family, while the large windows and access to a balcony provides a ton of light into the living area. The space has been designed to include a large dining table and more relaxed seating area.</p>
										<p>Adjacent to this living space is the glass and iron walled office space, with a feature brick wall and sliding doors, it has been designed to convert into an extra guest room as required.</p>

                        </div>

                        <p>
                            <a href="/rest/" class="btn btn-light btn-forward">
                                <i class="fa fa-long-arrow-right"></i>
                                Continue
                            </a>
                        </p>
                </div>
            </div>
            <!-- Work Header End -->


            <!-- Photo -->
             <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/entrance-h-03.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/entrance-h-03.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->

            <!-- Photo -->
             <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/entrance-v-02.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/entrance-v-02.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->

            <!-- Photo -->
             <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/entrance_h_01.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/entrance_h_01.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->

             <!-- Photo -->
             <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/entrance_h_04.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/entrance_h_04.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->

            <!-- Photo -->
             <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/entrance_h_01.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/entrance_h_01.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->

            <!-- Photo -->
             <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/entrance-stairs-v-2.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/entrance-stairs-v-2.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->

            <!-- Photo -->
             <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/stairs_top_main_h.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/stairs_top_main_h.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->

            <!-- Photo -->
             <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/stairs_top_main_h_ou_XygHn.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/stairs_top_main_h_ou_XygHn.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->

            <!-- Photo -->
             <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/corridoor-v-01.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/corridoor-v-01.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->

            <!-- Photo -->
        	<div class="item col-md-4">
            	<a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kitchen001-min.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kitchen001-min.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->

            <!-- Photo -->
            <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kitchen002-min.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kitchen002-min.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->


            <!-- Photo -->
            <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kitchen028-min.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kitchen028-min.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->

            <!-- Photo -->
            <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kitchen011-min.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kitchen011-min.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->

            <!-- Photo -->
            <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kitchen016-min.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kitchen016-min.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->

            <!-- Photo -->
            <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kitchen026-min.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kitchen026-min.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->

            <!-- Photo -->
            <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kitchen015-min.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kitchen015-min.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->

            <!-- Photo -->
            <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kitchen010-min.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kitchen010-min.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->

            <!-- Photo -->
            <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kitchen013-min.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kitchen013-min.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->

            <!-- Photo -->
            <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kitchen009-min.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kitchen009-min.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->
						<!-- Photo -->
            <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kitchen018-min.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kitchen018-min.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->
						<!-- Photo -->
            <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kitchen012-min.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kitchen012-min.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->
						<!-- Photo -->
            <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kitchen025-min.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kitchen025-min.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->
						<!-- Photo -->
            <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kitchen017-min.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kitchen017-min.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->
						<!-- Photo -->
            <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kitchen014-min.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kitchen014-min.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->
						<!-- Photo -->
            <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kitchen024-min.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kitchen024-min.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->
						<!-- Photo -->
            <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kitchen023-min.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kitchen023-min.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->
						<!-- Photo -->
            <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kitchen021-min.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kitchen021-min.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->
						<!-- Photo -->
            <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kitchen027-min.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kitchen027-min.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->
						<!-- Photo -->
            <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kitchen022-min.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kitchen022-min.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->
						<!-- Photo -->
            <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kitchen019-min.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kitchen019-min.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->
						<!-- Photo -->
            <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kitchen020-min.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kitchen020-min.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->
						<!-- Photo -->
            <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kitchen029-min.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kitchen029-min.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->
						<!-- Photo -->
            <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kitchen032-min.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kitchen032-min.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->
						<!-- Photo -->
            <!-- <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kitchen031-min.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kitchen031-min.jpg" alt="Photo Name">
                    </div>
                </a>
            </div> -->
            <!-- Photo End -->
						<!-- Photo -->
            <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kitchen033-min.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kitchen033-min.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->
						<!-- Photo -->
            <!-- <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kitchen034-min.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kitchen034-min.jpg" alt="Photo Name">
                    </div>
                </a>
            </div> -->
            <!-- Photo End -->
						<!-- Photo -->
            <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kitchen030-min.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kitchen030-min.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->
            			<!-- Photo -->
            <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/lower.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/lower.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->
            			<!-- Photo -->
            <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/main.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/main.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->
            			<!-- Photo -->
            <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/terrace.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/terrace.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->
        </div>
        <!-- Work Gallery End -->


    </div>
    <script type="text/javascript">

        var content = {
          GB : '<p>On the first floor you enter the beautiful open loft style kitchen and dining room living space. The American style kitchen is constructed in solid oak with black neolith surface counter tops. Fitted with brand new integrated appliances: large range, oven, microwave, fridge / freezer, dishwasher and noiseless hidden ceiling extractor fan. The central island makes for a sociable cooking experience with friends and family, while the large windows and access to a balcony provides a ton of light into the living area. The space has been designed to include a large dining table and more relaxed seating area.</p><p>Adjacent to this living space is the glass and iron walled office space, with a feature brick wall and sliding doors, it has been designed to convert into an extra guest room as required.</p>',
          ES : '<p>En el primer piso, encontramos la hermosa cocina estilo loft abierto y sala de estar comedor. La cocina de estilo americano está construida en roble macizo con encimeras de neolit negro en la superficie. Equipado con nuevos electrodomésticos integrados de alta gama: horno, microondas, nevera, congelador, lavaplatos y extractor de techo oculto silencioso. La isla central de la cocina, ofrece tener una  experiencia social a diario con amigos y familiares, mientras que los grandes ventanales y el acceso a un balcón proporcionan una gran cantidad de luz en la sala de estar. El espacio ha sido diseñado para incluir una gran mesa de comedor y una zona de descanso más relajada.</p><p>Junto a este espacio habitable se encuentra una moderna oficina con paredes de cristal y forja, con una pared de ladrillo y puertas correderas, que ha sido diseñado para convertirse en una habitación adicional para invitados según sea necesario.</p>'
        }
    </script>
</section>
{% endblock %}