

{% extends "base_generic.html" %}


{% block content %}
<section id="home" class="type-one">
<div class="section-page blank">
    	<!-- Section Heading -->
    	<!-- <h1>WORKS DETAIL</h1> -->
        <!-- Section Heading End -->

        <!-- Work Gallery -->
        <div class="work-gallery type-one masonry-list row">
        	<!-- Grid Sizer -->
        	<div class="grid-sizer col-md-4"></div>
            <!-- Grid Sizer End -->

            <!-- Work Header -->
        	<div class="item col-md-4">
                <div class="work-header type-one">
                	<nav class="work-nav offset-all-top language">
                    	<!-- <ul class="nav-default">
                            <li>&nbsp;</li>
                            <li>&nbsp;</li>
                            <li></li>
                        </ul> -->
                        <img src="{% load static %}{% static 'img/ES.png' %}" class="langSelect" data-lang="ES" style="width:23px">
                    </nav>
                    <h2 class="text-border">REST</h2>
                    <div class="content">
                      <p>On the same level, through a flat wall door which separates living from sleeping, a wide corridor leads to the three double bedrooms.</p>
                      <p>The large master bedroom (23m2) features an ensuite bathroom styled in the same glass and iron structure, as the office space. An entire wall features built-in storage (including drawers and mirrored cupboards) and there is also a small terrace. There are two further light double bedrooms (16m2 and 10.5m2), together with a family bathroom with large rain shower </p>
                    </div>
                    <p>
                        <a href="/relax/" class="btn btn-light btn-forward">
                            <i class="fa fa-long-arrow-right"></i>
                            Continue
                        </a>
                    </p>

                </div>
            </div>
            <!-- Work Header End -->

            <!-- Photo -->
        	<div class="item col-md-4">
            	<a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/master009-min.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/master009-min.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->

            <!-- Photo -->
            <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/master006-min.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/master006-min.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->

            <!-- Photo -->
            <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/master010-min.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/master010-min.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->

            <!-- Photo -->
            <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/master003-min.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/master003-min.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->

            <!-- Photo -->
            <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/master004-min.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/master004-min.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->

            <!-- Photo -->
            <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/master001-min.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/master001-min.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->

            <!-- Photo -->
            <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/master005-min.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/master005-min.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->

            <!-- Photo -->
            <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/master008-min.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/master008-min.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->

            <!-- Photo -->
            <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/master002-min.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/master002-min.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->

            <!-- Photo -->
            <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/master007-min.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/master007-min.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->
             <!-- Photo -->
            <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/room-spare-10.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/room-spare-10.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->
            <!-- Photo -->
            <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/roomspare003-min.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/roomspare003-min.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->
            <!-- Photo -->
            <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/roomspare002-min.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/roomspare002-min.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->
            <!-- Photo -->
            <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/roomspare001-min.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/roomspare001-min.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->
            <!-- Photo -->
            <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/shairwc_h_01.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/shairwc_h_01.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->
            <!-- Photo -->
            <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/bathshare01-min.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/bathshare01-min.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->
            <!-- Photo -->
            <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/bathshare002-min.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/bathshare002-min.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->
            <!-- Photo -->
            <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/bathshar004-min.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/bathshar004-min.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->
            <!-- Photo -->
            <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/bathshar005-min.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/bathshar005-min.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->
            <!-- Photo -->
            <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/shairWC-v-02.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/shairWC-v-02.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->
            <!-- Photo -->
            <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/shairWC-v-03.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/shairWC-v-03.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->

            <!-- Photo -->
            <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kids001-min.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kids001-min.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->
            <!-- Photo -->
            <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kids002-min.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kids002-min.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->
            <!-- Photo -->
            <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kids003-min.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kids003-min.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->
            <!-- Photo -->
            <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kids004-min.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kids004-min.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->
            <!-- Photo -->
            <div class="item col-md-4">
                <a href="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kids005-min.jpg" class="block" data-rel="prettyPhoto[pp_gal]" title="Photo Name">
                    <div class="over-image">
                        <img src="https://s3.amazonaws.com/aws-website-pereserafi-ekctt/img/kids005-min.jpg" alt="Photo Name">
                    </div>
                </a>
            </div>
            <!-- Photo End -->
        </div>
        <!-- Work Gallery End -->
    </div>
<script type="text/javascript">

    var content = {
      GB : '<p>On the same level, through a flat wall door which separates living from sleeping, a wide corridor leads to the three double bedrooms.</p><p>The large master bedroom (23m2) features an ensuite bathroom styled in the same glass and iron structure, as the office space. An entire wall features built-in storage (including drawers and mirrored cupboards) and there is also a small terrace. There are two further light double bedrooms (16m2 and 10.5m2), together with a family bathroom with large rain shower </p>',
      ES : '<p>En la misma planta, a través de una puerta lisa e insonora que separa la vida de día del descanso en la noche, un pasillo conduce a las tres habitaciones dobles. El dormitorio principal grande (23m2) cuenta con un baño con baño diseñado en la misma estructura de vidrio y forja, como el espacio de la oficina. Una pared completa cuenta con una cómoda que incluye amplios cajones y un cómodo armario con espejos y cuenta con una ventana y un pequeño balcón.</p><p>Hay dos dormitorios dobles más, muy luminosos (16m2 y 10.5m2), junto con un baño familiar con una gran ducha de lluvia.</p>'
    }

</script>

</section>
{% endblock %}